<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><h1>Welcome to Login/Register Demo App!</h1></header>
    <div class="nav">
      <a href="/users/login"><button>LOGIN</button></a>
      <a href="/users/register"><button>REGISTER</button></a>
    </div>
  </body>
</html>
