<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to USER Page</h1>
      <p class="register-success-msg">
        <%= user.name%> is successfully registered <br />
        with email id <%= user.email%>
      </p>
    </header>
    <div class="nav">
      <a href="/"><button>BACK</button></a>
    </div>
  </body>
</html>
